@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap");
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Orbitron", sans-serif;
}

p {
  font-family: "Montserrat", sans-serif;
}

img {
  display: block;
  width: 100%;
}

body {
  background-color: #030927;
  font-family: "Montserrat", sans-serif;
}

a {
  cursor: pointer !important;
}

.button {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  background-color: #52D3D8;
  color: #030927;
  padding: 8px 22px;
  border: solid 1px #d4d4d4;
  transition: background-color 0.3s ease;
  cursor: pointer !important;
}

.button:hover {
  background-color: rgba(82, 205, 209, 0.6901960784);
  color: #030927;
}

.header {
  background-color: #38419D;
}
.header img {
  max-width: 160px;
  height: auto;
}
.header a {
  color: #d4d4d4;
}
.header .redes-sociales {
  margin: 0 0 0 auto;
}
.header .redes-sociales .nav-item {
  font-size: 20px;
}
.header .nav-item {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}
.header .nav-link:focus,
.header .nav-link:hover {
  color: rgba(82, 205, 209, 0.6901960784);
}
.header .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(212,212,212, 0.7)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.header .navbar-toggler {
  border-color: #d4d4d4;
}
.header .navbar-toggler:focus {
  box-shadow: none;
}

@media (max-width: 991px) {
  .header {
    max-width: 90%;
  }
  .header .navbar-nav {
    text-align: center;
    margin-bottom: 20px;
  }
  .redes-sociales {
    flex-direction: row;
    gap: 18px;
    justify-content: center;
  }
  .redes-sociales .nav-item {
    font-size: 24px;
  }
}
.hero {
  height: 360px;
  overflow: hidden;
  position: relative;
}
.hero iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(1.9);
}
.hero .text__content {
  position: relative;
  text-align: center;
  width: 100%;
  max-width: 690px;
  margin: 40px auto 0;
}
.hero h1 {
  font-size: 28px;
  color: #d4d4d4;
  letter-spacing: 5px;
  text-shadow: 2px 2px 2px #030927;
}
.hero span {
  color: #52D3D8;
  font-size: 18px;
  display: block;
  letter-spacing: 2px;
}
.hero .button {
  position: absolute;
  bottom: 20%;
  left: calc(50% - 77.6px);
}

@media (max-width: 991px) {
  .hero {
    max-width: 90%;
  }
}
@media (min-width: 991px) {
  .hero {
    height: 520px;
  }
  .hero iframe {
    transform: scale(1.4);
  }
  .hero .text__content {
    margin: 80px auto 0;
  }
}
@media (min-width: 1380px) {
  .hero iframe {
    transform: scale(1.5);
  }
}
.razas {
  background-image: url(../assets/img-sc-002.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10% 0;
}
.razas h2 {
  font-size: 22px;
  color: #d4d4d4;
  letter-spacing: 5px;
  text-shadow: 2px 2px 2px #030927;
  text-align: center;
  margin: 0 auto 44px;
  padding: 0 20px;
  max-width: 620px;
}
.razas span {
  color: #52D3D8;
  font-size: 15px;
  display: block;
  letter-spacing: 2px;
}
.razas .razas__grid {
  display: grid;
  gap: 32px;
  padding: 0 32px;
}
.razas .razas__item {
  position: relative;
  overflow: hidden;
}
.razas a {
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.razas a:hover {
  transform: scale(1.05);
}
.razas .razas__text {
  width: 100%;
  position: absolute;
  bottom: 36px;
  text-align: center;
  padding: 0 20px;
}
.razas .razas__text h3 {
  color: #d4d4d4;
  font-size: 28px;
  text-shadow: #030927 2px 2px 2px;
  letter-spacing: 4px;
}
.razas .razas__text p {
  margin: 0;
  color: #d4d4d4;
  font-size: 16px;
  text-shadow: #030927 2px 2px 2px;
}
.razas img {
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .razas .razas__grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .razas h2 {
    margin: 0 auto 64px;
  }
}
@media (min-width: 991px) {
  .razas .razas__grid {
    padding: 0;
  }
}
.proPlayers img {
  width: 100%;
  height: auto;
}
.proPlayers .proPlayers__text {
  text-align: center;
  padding: 26px 0;
}
.proPlayers h2 {
  font-size: 22px;
  color: #d4d4d4;
  letter-spacing: 5px;
  text-shadow: 2px 2px 2px #030927;
  text-align: center;
  margin: 0 auto 24px;
  padding: 0 20px;
  max-width: 620px;
}
.proPlayers span {
  color: #52D3D8;
  font-size: 15px;
  display: block;
  letter-spacing: 2px;
}

.multimedia {
  background-image: url(../assets/img-sc-006.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 360px;
  padding: 32px 0;
}
.multimedia .multimedia__text {
  text-align: center;
}
.multimedia h2 {
  font-size: 22px;
  color: #d4d4d4;
  letter-spacing: 5px;
  text-shadow: 2px 2px 2px #030927;
  text-align: center;
  margin: 0 auto 24px;
  padding: 0 20px;
  max-width: 620px;
}
.multimedia span {
  color: #52D3D8;
  font-size: 15px;
  display: block;
  letter-spacing: 2px;
}

@media (min-width: 991px) {
  .multimedia {
    background-image: url(../assets/img-sc-007.jpg);
  }
}
.footer {
  background-color: #38419D;
  padding: 32px 0 0;
}
.footer img {
  max-width: 160px;
  height: auto;
  margin: 0 auto 22px;
}
.footer .footer__item {
  text-align: center;
}
.footer a {
  color: #d4d4d4;
}
.footer .nav-item {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}
.footer .redes-sociales .nav-item {
  font-size: 20px;
}
.footer .nav-link:focus,
.footer .nav-link:hover {
  color: rgba(82, 205, 209, 0.6901960784);
}
.footer .footer__proyecto {
  background-color: #292f70;
  padding: 12px 20px;
  text-align: center;
}
.footer .footer__proyecto p {
  color: #d4d4d4;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  margin: 0;
  letter-spacing: 1px;
}

@media (min-width: 768px) {
  .footer .footer__container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
    align-items: center;
  }
  .footer .navbar-nav {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
  }
  .footer .redes-sociales .nav-item {
    font-size: 24px;
  }
}
.hero-juego {
  padding: 20% 0;
  background-image: url(../assets/img-sc-015.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-juego .hero-juego__container {
  padding: 0 20px;
}
.hero-juego .hero-juego__text h1 {
  font-size: 28px;
  color: #d4d4d4;
  letter-spacing: 5px;
  text-shadow: 2px 2px 2px #030927;
  text-align: center;
  margin: 0 auto 18px;
  padding: 0 20px;
  max-width: 620px;
}
.hero-juego .hero-juego__text h1 span {
  color: #52D3D8;
  font-size: 18px;
  display: block;
  letter-spacing: 2px;
}
.hero-juego .hero-juego__text p {
  text-align: center;
  font-size: 16px;
  color: #d4d4d4;
  max-width: 720px;
  margin: 0 auto;
}
.hero-juego h2 {
  font-size: 22px;
  color: #d4d4d4;
  letter-spacing: 5px;
  text-align: center;
  margin: 0 auto 24px;
  padding: 0 20px;
  max-width: 620px;
  text-shadow: 2px 2px 2px #030927;
}
.hero-juego h2 span {
  color: #52D3D8;
  font-size: 15px;
  display: block;
  letter-spacing: 2px;
}
.hero-juego .hero-juego__grid {
  display: grid;
  gap: 22px;
}
.hero-juego .hero-juego__grid img {
  width: 100%;
  height: auto;
  max-width: 280px;
  margin: 0 auto;
  box-shadow: 2px 2px 2px #030927;
}
.hero-juego .hero-juego__grid h3 {
  text-align: center;
  padding: 10px 0;
  letter-spacing: 2px;
  font-size: 22px;
  color: #52D3D8;
  text-shadow: 2px 2px 2px #030927;
}

@media (min-width: 768px) {
  .hero-juego {
    padding: 10% 0;
  }
  .hero-juego .hero-juego__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 992px) {
  .hero-juego {
    padding: 5% 0;
  }
}
.pasos-juego h2 {
  font-size: 22px;
  color: #d4d4d4;
  letter-spacing: 5px;
  text-align: center;
  margin: 0 auto 24px;
  padding: 0 20px;
  max-width: 620px;
}
.pasos-juego h2 span {
  color: #52D3D8;
  font-size: 15px;
  display: block;
  letter-spacing: 2px;
}
.pasos-juego .pasos-juego__grid {
  display: grid;
  gap: 22px;
}
.pasos-juego .pasos-juego__grid img {
  width: 100%;
  height: auto;
}
.pasos-juego .pasos-juego__text {
  text-align: center;
}
.pasos-juego .pasos-juego__text h3 {
  color: #d4d4d4;
  font-size: 20px;
  letter-spacing: 1px;
}
.pasos-juego .pasos-juego__text p {
  color: #d4d4d4;
  font-size: 16px;
}

@media (min-width: 992px) {
  .pasos-juego .pasos-juego__grid {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .pasos-juego .pasos-juego__text {
    text-align: start;
  }
  .pasos-juego .pasos__order {
    order: -1;
  }
}
.descarga-juego {
  background-image: url(../assets/img-sc-023.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 360px;
  padding: 32px 0;
}
.descarga-juego .descarga-juego__text {
  text-align: center;
}
.descarga-juego h2 {
  font-size: 22px;
  color: #d4d4d4;
  letter-spacing: 5px;
  text-shadow: 2px 2px 2px #030927;
  text-align: center;
  margin: 0 auto 24px;
  padding: 0 20px;
  max-width: 620px;
}
.descarga-juego span {
  color: #52D3D8;
  font-size: 15px;
  display: block;
  letter-spacing: 2px;
}

@media (min-width: 991px) {
  .descarga-juego {
    background-image: url(../assets/img-sc-022.jpg);
  }
}
.hero-razas {
  background-image: url(../assets/img-sc-024.jpg);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 120px 0;
}
.hero-razas h1 {
  font-size: 22px;
  color: #d4d4d4;
  letter-spacing: 5px;
  text-shadow: 2px 2px 2px #030927;
  text-align: center;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 620px;
  text-transform: uppercase;
}
.hero-razas span {
  color: #52D3D8;
  font-size: 15px;
  display: block;
  letter-spacing: 2px;
}
.hero-razas p {
  color: #d4d4d4;
  text-align: center;
  font-size: 16px;
  max-width: 720px;
  padding: 0 20px;
  margin: 22px auto 0;
  text-shadow: 2px 2px 2px #030927;
}

@media (min-width: 991px) {
  .hero-razas {
    padding: 220px 0;
  }
}
@media (min-width: 1540px) {
  .hero-razas {
    padding: 280px 0;
  }
}
.main-raza {
  background-image: url(../assets/img-sc-030.jpg);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
}
.main-raza .main-raza__text {
  padding: 32px 42px 32px 0;
}
.main-raza .main-raza__text h2 {
  font-size: 22px;
  color: #52D3D8;
  letter-spacing: 2px;
  margin-bottom: 22px;
  text-shadow: 2px 2px 2px #030927;
}
.main-raza .main-raza__text h3 {
  font-size: 20px;
  color: #d4d4d4;
  letter-spacing: 1px;
  margin-bottom: 16px;
  text-shadow: 2px 2px 2px #030927;
}
.main-raza .main-raza__text p {
  font-size: 16px;
  color: #d4d4d4;
  margin-bottom: 10px;
  text-shadow: 2px 2px 2px #030927;
}

@media (min-width: 650px) {
  .main-raza .main-raza__text {
    padding: 42px 25% 42px 0;
  }
}
@media (min-width: 768px) {
  .main-raza {
    background-image: url(../assets/img-sc-025.jpg);
    background-position: right top;
  }
  .main-raza .main-raza__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .main-raza .main-raza__text {
    padding: 16% 20px;
  }
  .main-raza .protoss .main-raza__text {
    grid-column: 2/3;
  }
}
.main-raza .main-raza__sub-title {
  margin-bottom: 26px;
}
.main-raza .main-raza__sub-title h2 {
  text-align: center;
  font-size: 22px;
  color: #52D3D8;
  text-shadow: 2px 2px 2px #030927;
}
.main-raza .main-raza__card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  margin-bottom: 22px;
  background-color: #292f70;
  padding: 16px 10px;
  align-items: center;
}
.main-raza .main-raza__card img {
  width: 100%;
  max-width: 180px;
  height: auto;
  margin: 0 auto;
}
.main-raza .main-raza__card h3 {
  font-size: 18px;
  color: #d4d4d4;
  letter-spacing: 1px;
  margin-bottom: 16px;
  text-shadow: 2px 2px 2px #030927;
  margin-bottom: 6px;
}
.main-raza .main-raza__card p {
  font-size: 14px;
  color: #d4d4d4;
  margin-bottom: 10px;
  text-shadow: 2px 2px 2px #030927;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .main-raza .main-raza__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
}
.main-raza.protoss {
  background-image: url(../assets/img-sc-037.jpg);
  background-position: right top;
}

.main-raza.zerg {
  background-image: url(../assets/img-sc-041.jpg);
}

@media (min-width: 768px) {
  .main-raza.protoss {
    background-image: url(../assets/img-sc-034.jpg);
    background-position: left top;
  }
  .main-raza.protoss .main-raza__text {
    grid-column: 2/3;
  }
  .main-raza.zerg {
    background-image: url(../assets/img-sc-042.jpg);
  }
}
.hero-proPlayers {
  background-image: url(../assets/img-sc-044.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 480px;
}

@media (min-width: 991px) {
  .hero-proPlayers {
    background-image: url(../assets/img-sc-043.jpg);
  }
}
.hero-proPlayers__text h1 {
  font-size: 22px;
  color: #d4d4d4;
  letter-spacing: 5px;
  text-align: center;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 620px;
  text-transform: uppercase;
}
.hero-proPlayers__text span {
  color: #52D3D8;
  font-size: 15px;
  display: block;
  letter-spacing: 2px;
}

.main__poproPlayers .main__top {
  background-image: url(../assets/img-sc-045.jpg);
  background-position: center right;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 32px 20px;
}
.main__poproPlayers .main__top .main__top-uno h3 {
  color: #d4d4d4;
  font-size: 14px;
  letter-spacing: 1px;
}
.main__poproPlayers .main__top .main__top-uno h3 span {
  color: #52D3D8;
  font-size: 18px;
}

@media (min-width: 768px) {
  .main__poproPlayers .main__top {
    background-image: url(../assets/img-sc-046.jpg);
    padding: 52px 32px;
  }
  .main__poproPlayers .main__top .main__top-uno h3 {
    font-size: 16px;
    letter-spacing: 2px;
  }
  .main__poproPlayers .main__top .main__top-uno h3 span {
    font-size: 22px;
  }
}
.hero-multimedia {
  background-image: url(../assets/img-sc-051.jpg);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 0;
}
.hero-multimedia h1 {
  font-size: 22px;
  color: #d4d4d4;
  letter-spacing: 5px;
  text-shadow: 2px 2px 2px #030927;
  text-align: center;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 620px;
  text-transform: uppercase;
}
.hero-multimedia span {
  color: #52D3D8;
  font-size: 15px;
  display: block;
  letter-spacing: 2px;
}
.hero-multimedia p {
  color: #d4d4d4;
  text-align: center;
  font-size: 16px;
  max-width: 720px;
  padding: 0 20px;
  margin: 22px auto 0;
  text-shadow: 2px 2px 2px #030927;
}
.hero-multimedia img {
  width: 100%;
  height: auto;
}

@media (min-width: 991px) {
  .hero-multimedia {
    padding: 80px 0;
  }
}
@media (min-width: 1540px) {
  .hero-multimedia {
    padding: 120px 0;
  }
}
.galeria__title h2 {
  font-size: 20px;
  color: #d4d4d4;
  letter-spacing: 5px;
  text-shadow: 2px 2px 2px #030927;
  text-align: center;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 620px;
  text-transform: uppercase;
}
.galeria__title span {
  color: #52D3D8;
  font-size: 15px;
  display: block;
  letter-spacing: 2px;
}

.galeria-multimedia {
  margin: 32px auto;
}
.galeria-multimedia img {
  width: 100%;
  height: auto;
}/*# sourceMappingURL=style.css.map */