@import "_variables";

.footer {
    background-color: $purpura;
    padding: 32px 0 0;

    img {
        max-width: 160px;
        height: auto;
        margin: 0 auto 22px;
    }
    .footer__item {
        text-align: center;
    }
    a {
        color: $blanco-oscuro;
    }
    .nav-item {
        font-size: 16px;
        font-family: $montserrat;
    }
    .redes-sociales {
        .nav-item {
            font-size: 20px;
        }
    }
    .nav-link:focus, 
    .nav-link:hover {
        color: $azul-claro-hover;
    }
    .footer__proyecto {
        background-color: $purpura-oscuro;
        padding: 12px 20px;
        text-align: center;
        p {
            color: $blanco-oscuro;
            font-family: $montserrat;
            font-size: 15px;
            margin: 0;
            letter-spacing: 1px;
        }
    }
}
@media (min-width: 768px) {
    .footer {
        .footer__container {
            display: grid;
            grid-template-columns: 1fr 2fr 1fr;
            gap: 10px;
            align-items: center;
        }
        .navbar-nav {
            display: flex;
            flex-direction: row;
            gap: 10px;
            justify-content: center;
        }
        .redes-sociales {
            .nav-item {
                font-size: 24px;
            }
        }
    }
}