@import "_variables";

.header {
    background-color: $purpura;

    img {
        max-width: 160px;
        height: auto;
    }

    a {
        color: $blanco-oscuro;
    }

    .redes-sociales {
        margin: 0 0 0 auto;
        .nav-item {
            font-size: 20px;
        }
    }

    .nav-item {
        font-size: 16px;
        font-family: $montserrat;
    }

    .nav-link:focus, 
    .nav-link:hover {
        color: $azul-claro-hover;
    }
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(212,212,212, 0.7)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
    .navbar-toggler {
        border-color: $blanco-oscuro;
    }
    .navbar-toggler:focus {
        box-shadow: none;
    }
}

@media (max-width: 991px) {
    .header {
        max-width: 90%;
        .navbar-nav {
            text-align: center;
            margin-bottom: 20px;
        }
    }
    .redes-sociales {
        flex-direction: row;
        gap: 18px;
        justify-content: center;
        .nav-item {
            font-size: 24px;
        }
    }
}