@import "_variables";

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $orbitron;
}

p {
    font-family: $montserrat;
}

img {
    display: block;
    width: 100%;
}

body {
    background-color: $oscuro;
    font-family: $montserrat;
}

.button {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-family: $montserrat;
    background-color: $azul-claro;
    color: $oscuro;
    padding: 8px 22px;
    border: solid 1px $blanco-oscuro;
    transition: background-color .3s ease;
    cursor: pointer;
}
.button:hover {
    background-color: $azul-claro-hover;
    color: $oscuro;
}