@import "_variables";

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $orbitron;
}

p {
    font-family: $montserrat;
}

img {
    display: block;
    width: 100%;
}

body {
    background-color: $oscuro;
}