// Variables Color
$azul-claro: #52D3D8;
$azul: #3887BE;
$purpura: #38419D;
$purpura-oscuro: #200E3A;
$oscuro: #161A30;

// Variables Typos
$orbitron: "Orbitron", sans-serif;
$montserrat: "Montserrat", sans-serif;