// Variables Color
$blanco-oscuro: #d4d4d4;
$azul-claro: #52D3D8;
$azul-claro-hover: #52cdd1b0;
$azul: #3887BE;
$purpura: #38419D;
$purpura-oscuro: #292f70;
$oscuro: #030927;

// Variables Typos
$orbitron: "Orbitron", sans-serif;
$montserrat: "Montserrat", sans-serif;